name: CI (Ubuntu)
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare
        run: |
          sudo apt update
          sudo apt install -y \
            git meson ninja-build rustc cargo clang glslang-tools libcap-dev \
            libwlroots-dev libsdl2-dev vulkan-headers libx11-6 libx11-dev libxcb1 libxcb1-dev libxcursor-dev libxmu-dev \
            libxcomposite-dev libxrender-dev libxres-dev \
            libxtst-dev libxkbcommon-dev libdrm-dev libinput-dev \
            wayland-protocols \
            xwayland libpipewire-0.3-dev cmake \
            libavif-dev libheif-dev rav1e libdecor-0-dev libxxf86vm-dev hwdata \
            libxdamage-dev xwayland luajit-5.1-dev gcc g++ make libbenchmark-dev libssl-dev libarchive-dev zip

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build with gcc
        run: |
          cd deps/gamescope
          export CC=gcc CXX=g++
          meson build-gcc/ -Dinput_emulation=disabled --werror --auto-features=enabled
          ninja -C build-gcc/
          ls
          pwd
          cd build-gcc/src
          ls
          pwd

      - name: Build the rest
        run: |
          ls
          pwd
          chmod +x build.sh
          ./build.sh

      - name: Create zip archive
        run: |
          mkdir -p release
          cp -r build/* release/
          cp deps/gamescope/build-gcc/src/gamescope release/
          cd release
          zip -r ../built-binaries.zip .
          cd ..
          ls -lh built-binaries.zip

      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: built-binaries
          path: built-binaries.zip
